In [3]:
import pandas as pd

In [8]:
s=pd.Series([10,20,30,40,50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
s1=pd.Series([10,20,30], index=["priyansh","ansh","hit"])
s1

priyansh    10
ansh        20
hit         30
dtype: int64

In [10]:
s1["priyansh"]

10

In [12]:
data={
    "name": ["priyansh","ansh","hit"],
    "age": [19,18,20],
    "city":["ahm","surt","broda"]
}

In [14]:
df = pd.DataFrame(data)

In [15]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
df.columns

Index(['name', 'age', 'city'], dtype='object')

In [19]:
df.index = ["A", "B", "C"]
df.columns = ["Name", "Age", "City"]

In [20]:
df

       Name  Age   City
A  priyansh   19    ahm
B      ansh   18   surt
C       hit   20  broda